<script type="text/javascript" xmlns="http://www.w3.org/1999/html">

  currentCardid = "<%=@card_id%>";
  currentUserId = "<%=@user_id%>";
  currentCourseId = "<%=@course_id%>";
  runTimeEnvironment = "<%=@runtime_envrironment%>";

</script>

<% if @questions != nil %>
  <div class="topDiv">
  <% @questions.each do |question| %>
      <div class="questionText"><%=  question["body"] %> &nbsp;</div>
      <div class="rating">
      <% question_id =  question['questions_id']%>
      <div class="question_div"></div>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_5") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="5" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_5") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_5") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_5%>">5 stars</label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_4") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="4" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_4") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_4") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_4%>">4 stars</label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_3") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="3" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_3") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_3") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_3%>">3 stars</label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_2") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="2" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_2") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_2") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_2%>">2 stars</label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_1") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="1" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_1") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_1") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_1%>">1 star</label>
    </div>
    <div class="question_footer"></div>
    <br/>

  <% end %>
  </div>
<% end %>