<script type="text/javascript" xmlns="http://www.w3.org/1999/html">

  currentCardid = "<%=@card_id%>";
  currentUserId = "<%=@user_id%>";
  currentCourseId = "<%=@course_id%>";
  runTimeEnvironment = "<%=@runtime_envrironment%>";
  currentCaseName = "<%=@case_name%>";
  currentCaseId = "<%=@case_id%>";
  currentCardName = "<%=@card_name%>";
  currentGroupId = "<%=@group_id%>";

</script>

<% if @questions != nil %>
  <div class="topDiv">
  <% @questions.each do |question| %>
      <div class="questionText"><%=  question["body"] %> &nbsp;</div>
      <div class="rating">
      <% question_id =  question['questions_id']%>
      <div class="question_div"></div>
      <!--<input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_9") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="9" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_9") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_9") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_9%>"></label>-->
      <!--<input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_8") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="8" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_8") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_8") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_8%>"></label>-->
      <!--<input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_7") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="7" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_7") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_7") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_7%>"></label>-->
      <!--<input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_6") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="6" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_6") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_6") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_6%>"></label>-->
      <!--<input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_5") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="5" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_5") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_5") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_5%>"></label>-->
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_4") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="4" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_4") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_4") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_4%>"></label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_3") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="3" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_3") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_3") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_3%>"></label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_2") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="2" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_2") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_2") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_2%>"></label>
      <input type="radio" id="<%= CardQuestionsHelper.make_id(question_id,"_1") %>" name="<%= CardQuestionsHelper.make_name(question_id) %>" class="rating" value="1" /><label for="<%= CardQuestionsHelper.make_id(question_id,"_1") %>" onclick="getRating('<%= CardQuestionsHelper.make_id(question_id,"_1") %>', '<%= question_id %>')" title="<%=CardQuestionsController::TITLE_1%>"></label>
    </div>
    <div class="question_footer"></div>
    <br/>

  <% end %>
  </div>
<% end %>